body {
   
    background: url(../Content/img/background.jpg) no-repeat center center fixed;
    height:100%
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin {
    background-color: whitesmoke;
    padding: 20px;
}
    .signin h1 {
        color: #69b0ac;
        text-align: center;
    }

    .signin .input input {
        width: 100%;
        background: #dce3de;
        height: 35px;
        border: none;
        padding: 5px;
        box-sizing: border-box;
    }

    .signin .input {
        margin-top: 13px;
        margin-bottom: 14px;
        margin-left: 35px;
   
    }

        
.buttons {
    font-size: 13px;
    margin-bottom: 20px;
}
    .buttons .btn-secondary {
        margin-left: 45px;
        width: 141px;
        height: 36px;
        background-color: darkgreen;
    }

   
