@model IEnumerable<WebApplication1.Models.Topic>

@{
    Layout = null;
}

@if (User.Identity.IsAuthenticated)
{
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
        <link href="~/Content/Styleheadertrainee.css" rel="stylesheet" />
        <link href="~/Content/Stylemainhometrainee.css" rel="stylesheet" />
        <link href="~/Content/main_styles.css" rel="stylesheet" />
        <link href="~/Content/Stylefooter.css" rel="stylesheet" />
    </head>
    <body>
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-sm bg-success navbar-dark fixed-top">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/TopicViews/Index">Topics</a>

                </ul>
                @using (Html.BeginForm("Index", "TopicViews", FormMethod.Get))
                {
                    @Html.TextBox("searching")<input type="submit" value="Search" class="btn btn-success" />


                }
                <div class="Logout">
                    <a href="/Home/SignOut">Log Out</a>
                </div>

                <p style=" position: absolute; top: 11px; right: 400px">

                    @Html.ActionLink("Edit Your Profile", "Edit", "TopicViews")

                </p>
            </nav>

        </header>
        <!-- Header -->
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>

            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/img/background.jpg" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/slider_background.jpg" alt="Chicago">
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1 style="padding-top:20px">Your Topics</h1>
                    </div>
                </div>
            </div>
            <div class="row course_boxes">

                    @if (Model.Count() == 0)
                    {
                        <h5> No Match Any Document</h5>



                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-4 course_box">
                                <div class="card" style="margin-top:30px">
                                    <img class="card-img-top" src="~/Content/img/course_1.jpg">
                                    <div class="card-body text-center">
                                        <div class="card-title">@Html.DisplayFor(modelItem => item.Name)</div>
                                        <div class="card-text"> @Html.DisplayFor(modelItem => item.Description)</div>
                                    </div>

                                </div>
                            </div>

                           
                        }

                    }



                </div>
            </div>
   
        <script src="~/Scripts/jquery-3.5.0.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

    </body>
    <footer style="margin-top:30px">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-uppercase font-weight-bold" style="color:gold">Footer text 1</h5>
                <p style="color:white">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
                    repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
                    harum esse fugiat. Itaque, culpa?
                </p>
            </div>
            <div class="col-md-6">
                <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
                    repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
                    harum esse fugiat. Itaque, culpa?
                </p>
            </div>

        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>

}



